astor==0.8.1
async-generator==1.10
backports.functools-lru-cache==1.6.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
colorlog==4.7.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
EasyProcess==0.3
entrypoint2==0.2.3
google-pasta==0.2.0
grab-screen==0.0.13
h5py==2.10.0
idna==2.6
imutils==0.5.4
ipython==5.8.0
ipython-genutils==0.2.0
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
itsdangerous==1.1.0
jeepney==0.6.0
jsonschema==3.0.0a3
Keras==2.4.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mss==3.0.1
olefile==0.46
opencv-contrib-python==4.5.1.48
pafy==0.5.5
pandocfilters==1.4.2
prompt-toolkit==1.0.15
protobuf==3.14.0
pycryptodome==3.9.9
pyperclip==1.5.27
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyscreenshot==2.3
pyshine==0.0.7
PySide2==5.15.2
PySocks==1.7.1
PyYAML==5.4.1
pyzmq==22.0.2
qimage2ndarray==1.8.3
requests==2.25.1
Send2Trash==1.5.0
shiboken2==5.15.2
simplegeneric==0.8.1
sounddevice==0.4.1
SoundFile==0.10.3.post1
streamlink==2.0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
testpath==0.4.4
tqdm==4.56.0
traitlets==4.3.3
urllib3==1.22
vidgear==0.2.0
webencodings==0.5.1
websocket-client==0.57.0
wrapt==1.12.1
